.header__logo {
  width: 142px;
  height: 33px;
  background-size: cover;
  padding: 0 0 37px 0;
}

@media screen and (max-width: 890px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    padding: 0 0 31.6px 27px;
  }
}

@media screen and (max-width: 656px) {
  .header__logo {
   padding: 0 0 27px 27px;
  }
}
