.header {
  max-width: 880px;
  margin: 0 auto 40px;
  padding-top: 45px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
  align-items: top;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 890px) {
  .header {
    max-width: 656px;
    margin: 0 auto 42px;
    padding-top: 28px;
  }
}
