.profile {
  margin: 0 auto;
  max-width: 880px;
  display: flex;
  flex-wrap: nowrap;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 890px) {
  .profile {
    max-width: 656px;
  }
}

@media screen and (max-width: 656px) {
  .profile {
    max-width: 282px;
    flex-direction: column;
  }
}
